In [1]:
import pandas as pd
import numpy as np

In [7]:
#Create a dataframe from a dictionary where the keys are the names of countries, 
#the values are the gdp and indices are last 10 years. 
#Now try to find the average gdp combined for all countries over past 10 years.
my_DF = {'India' : [3.5, 2.5, 4.5,2.4,5.6],
         'China' : [2.4, 5.7, 2.6,4.5,5.6],
        'US' :[4.6,2.5,7.5,4.6,3.6],
        'Russia' : [5.6,7.5,9.5,4.7,5.7],
        'Dubai' :[3.6,7.5,8.5,6.7,6.7]}
my_DF

{'India': [3.5, 2.5, 4.5, 2.4, 5.6],
 'China': [2.4, 5.7, 2.6, 4.5, 5.6],
 'US': [4.6, 2.5, 7.5, 4.6, 3.6],
 'Russia': [5.6, 7.5, 9.5, 4.7, 5.7],
 'Dubai': [3.6, 7.5, 8.5, 6.7, 6.7]}

In [9]:
my_DF = pd.DataFrame(my_DF, index = [str(2023 - i) for i in range(5)])
my_DF

      India  China   US  Russia  Dubai
2023    3.5    2.4  4.6     5.6    3.6
2022    2.5    5.7  2.5     7.5    7.5
2021    4.5    2.6  7.5     9.5    8.5
2020    2.4    4.5  4.6     4.7    6.7
2019    5.6    5.6  3.6     5.7    6.7

In [13]:
GDP_Avg = my_DF.mean()
GDP_Avg
print(
average_gdp = GDP_Avg.mean()
print("Average GDP for all countries combined:", average_gdp)

Average GDP for all countries combined: 5.124